################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Platform/win/ContextMenuHandler/x64/Debug
